{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block menu %}
    <span class="label {% if collector.codes | length == 0 %}disabled{% endif %}">
        <span class="icon">
            {{ include('@CreonitVerificationCode/Profiler/icon.svg') }}
        </span>
        <strong>Verification codes</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Created verification codes</h2>
    {% if collector.codes %}
        <table>
            <tr>
                <th>Scope</th>
                <th>Key</th>
                <th>Code</th>
            </tr>
            {% for code in collector.codes %}
                <tr>
                    <td>{{ code.scope }}</td>
                    <td>{{ code.key }}</td>
                    <td>{{ code.code }}</td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="empty">
            <p>No codes have been collected.</p>
        </div>
    {% endif %}
{% endblock %}